#e01_login {
  background-color: bisque;
  color: brown;
  width: 250px;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}
hr {
  border: 2px solid brown;
}
p {
  color: black;
  font-weight: bold;
  text-align: left;
}


