<h1>Lista Personajes</h1>
<div class="container">
    <mat-card (click)="newPeople()">
        <mat-card-title>Nuevo Personaje</mat-card-title>
        <mat-card-subtitle>(click para añadir)</mat-card-subtitle>
        <mat-card-content>
            <div class="addNew"><h1>+</h1></div>
        </mat-card-content>
    </mat-card>
        <mat-card *ngFor="let char of peopleList; let i= index" [routerLink]="'/edit/' + char.url.split('/').reverse()[1]">
            <mat-card-title>{{char.name}}</mat-card-title>
            <mat-card-subtitle>(click para editar)</mat-card-subtitle>
            <mat-card-content>
                <img src="https://starwars-visualguide.com/assets/img/characters/{{char.url.split('/').reverse()[1]}}.jpg" alt="image not found" (error)="handleMissingImage($event)">
                
                <div class="info">
                    <span>Altura: {{char.height}}cm  </span>
                    <span>Genero: {{char.gender}}</span>
                </div>
                <h2>Peliculas:</h2>
                <ul>
                    <li *ngFor="let film of char.films">{{getFilmTitles(film)}}</li>
                </ul>
            </mat-card-content>
        </mat-card>
</div>

<!--  -->