<mat-form-field appearance="fill">
  <mat-label>Selecciona tu pokemon</mat-label>
  <mat-select>
    <mat-option
      value="one"
      *ngFor="let pokemon of pokemonList"
      (click)="getPokemon(pokemon.name)"
      >{{
        pokemon.name.charAt(0).toUpperCase() + pokemon.name.substring(1)
      }}</mat-option
    >
  </mat-select>
</mat-form-field>
<mat-card class="pkSelected">
  <div *ngIf="this.pokemonSelected != undefined">
    <mat-card-title>{{ pokemonSelected.name.charAt(0).toUpperCase() + pokemonSelected.name.substring(1)}}</mat-card-title>
  </div>
</mat-card>
